@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.navlist {
  display: flex;
  gap: 3.5em;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration-color: black;
}

.navlist li {
  list-style: none;
  font-size: 1rem;
}

.navlist li a {
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-container {
  text-align: center;
  background-color: #83b9b5;
}
.About {
  padding-top: 20px;
  border-radius: 50px;
  background-color: #83b9b5;;
  margin: 10px;
  height: 300px;
  width: 1300px;
  margin-left: 280px;

}

.About h1 {
  padding: 20px;
  text-align: center;
}
.About img {
  border-radius: 100%;
  margin-left: 150px;
  width: 200px;
}
.About p {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 20px;
}
.main-box {
  display: flex;
}
.right {
  width: 500px;
}
.left {
  width: 1500px;
}
.Projects {
  text-align: center;
  padding-top: 20px;
  border-radius: 50px;
  background-color: #83b9b5;
  margin: 10px;
  height: 400px;
  width: 1300px;
  margin-left: 280px;
}
.Projectp1 {
  width: 450px;
  height: 200px;
  margin: 30px;
  margin-left: 100px;
  margin-top: 60px;
  border-radius: 20px;
  background-color: rgb(199, 230, 226);
}
.Projectp2 {
  width: 450px;
  height: 200px;
  margin: 30px;
  margin-left: 700px;
  margin-top: -220px;
  border-radius: 20px;
  background-color: rgb(199, 230, 226);
}
.Contact{
  border: 2px solid rgb(154, 192, 194);
  background-color: #bce6e9;
  width: 1000px;
  margin: 100px;
  margin-left: 440px;
  height: 500px;
  box-shadow: 10px 10px 5px rgba(64, 62, 62, 0.3);
border-radius: 20px;
}

.Contact h6{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #000000;
margin: 10px;
}
.Contact p{
font-size: 18px;
color: #83b9b5;
display: flex;
justify-content: center;
align-items: center;
margin: 35px;
}
.input{
 margin-left: 40px;
}
input{
  padding: 10px;
  font-size: 14px;
  width: 900px;
}
textarea{
  padding: 10px;
  font-size: 14px;
  width: 900px;
}
.input button{
  margin-left: 400px;
}

.footer{
  text-align: center;
  background-color: #343030;
  color: white;
}
